.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
  background: #020617;
}

.navbar h1 {
  color: #60a5fa;
}

.navbar a {
  color: #e5e7eb;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
}

.navbar a:hover {
  color: #93c5fd;
}
